#sidebar-wrapper.border-end.bg-white
    .sidebar-heading.border-bottom.bg-light Practical Autocomplete
    .list-group.list-group-flush
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href="index.html") Intro
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href="elasticsearch.html") Elasticsearch
        a.list-group-item.list-group-item-action.list-group-item-light.p-3(href="redis.html") Redis