#sidebar-wrapper.border-end.bg-white
    .sidebar-heading.border-bottom.bg-light Practical Autocomplete
    .list-group.list-group-flush
        each link in navLinks
            a.list-group-item.list-group-item-action.list-group-item-light.p-3(href=link.link)= link.name