extends layouts/layout

block content
    include:markdown-it(html typographer) intro.md
    include:markdown-it(html typographer) tokenize.md
    include:markdown-it(html typographer) sort-by-length.md
    include:markdown-it(html typographer) sort-by-freq.md
    include:markdown-it(html typographer) comparison.md